target
.idea
**/*.rs.bk
.DS_Store
.vs*
.history
bazel-*
result*

repomix-output.txt

# WASM artefacts generated at runtime – do not commit
evtx-wasm/evtx-viewer/public/pkg
# Samples are being copied by build scripts before deploying
**/public/samples/
profil*/
