name: CI

on: [pull_request]

jobs:
  build_and_test:
    name: Test EVTX Library
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1
          lfs: true
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
      - name: Run tests
        run: cargo test
      - name: Run utf16-simd tests
        run: cargo test --manifest-path utf16-simd/Cargo.toml
